---
import Layout from "../layouts/Layout.astro";
---

<Layout title="FreeCodeCamp London">
    <div class="w-full flex items-center justify-center">
        <h1 class="text-4xl text-white bold">
            FreeCodeCamp <span
                class="bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 text-transparent bg-clip-text inline-block"
                >London</span
            >
        </h1>
    </div>
    <div class="w-full h-5 flex items-center justify-center">
        <p>Something went wrong! Refresh the page or try again later</p>
    </div>
</Layout>
