---
import FAQ from "../components/FAQ.astro";
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us">
    <Logo/>
    <div class="w-full text-justify flex justify-center items-center flex-col">
        <div class="w-96 lg:w-1/2 m-5">
            <h1 class=" font-extrabold text-4xl">About us</h1>
            <p>
                Welcome to freeCodeCamp London! We’re a community of coding enthusiasts, from beginners to seasoned developers, gathering to learn, share, and grow together.
                 We believe coding should be accessible to everyone, which is why freeCodeCamp is completely free and open to anyone with a computer, internet connection, and a desire to learn.
            </p>
            <h2 class=" font-extrabold text-2xl">What is freeCodeCamp?</h2>
            <p>
                freeCodeCamp is a free, online coding platform that offers a structured curriculum for anyone looking to break into software and web development.
                With projects, exercises, and an active global network, it’s a great place to start (or advance) your coding journey. And with chapters like freeCodeCamp London, there are opportunities to connect locally too!
                At freeCodeCamp London, we host regular meetups to bring our community together.
                Whether you’re working through coding challenges, looking for career advice, or just interested in meeting fellow coders, our meetups are designed to be relaxed and beginner-friendly.
            </p>
            Here’s what you can expect:
            <ul class="mt-0 list-disc pl-4">
                <li>Group Learning: At the start, we usually split into groups based on interests. You might join a group tackling specific coding challenges, discussing job-seeking strategies, or chatting about all things tech.</li>
    
                <li>Show and Tell: We start each meetup with a short “show and tell” where members can share projects, recent learnings, or anything coding-related. Interested? Let us know on Discord!</li>
    
                <li>Flexible Format: Feel free to move around between groups and connect with different people throughout the session. This is a great way to meet other learners and experienced developers alike.</li>
            </ul>
           <FAQ/>
    
        </div>
    </div>

    <style>
        p {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    </style>
</Layout>
