---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<div class=" w-full h-screen flex items-center justify-center">
		<h1 class=" text-4xl text-white bold ">FreeCodeCamp <span class="bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 text-transparent bg-clip-text inline-block ">London</span></h1>

		
	</div>
</Layout>
