---
interface Props {
	title: string;
	body: string;
}

const { title, body } = Astro.props;
---

<li
	onclick="{this.classList.toggle('FAQ--hidden'); this.classList.toggle('FAQ--expanded');}"
	class="cursor-pointer FAQ--hidden mt-2 border border-white rounded-lg overflow-hidden transition-all duration-500"
>
	<div class="relative p-4">
		<h1 class="flex items-center text-2xl">{title}</h1>
		<p class="FAQ-body mt-2 hidden">{body}</p>
	</div>

	<style>
		.FAQ--hidden .FAQ-body {
			display: none;
		}

		.FAQ--expanded .FAQ-body {
			display: block;
		}

		.FAQ--hidden {
			max-height: 80px;
		}

		.FAQ--expanded {
			max-height: none;
		}

		/* Optional: smooth animation for height change */
		.FAQ--hidden,
		.FAQ--expanded {
			transition: max-height 0.7s ease-in-out;
		}
	</style>
</li>
